.header {
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;

    .content {
        max-width: var(--max-width);
        padding: 0 var(--spacer-s);
        height: var(--header-height);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
    }

    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 60%;

        > * {
            padding-right: 1em;
        }
    }

}
