.header {
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 5;

    .content {
        max-width: var(--max-width);
        padding: 0 var(--spacer-s);
        height: var(--header-height);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
    }

    .logo {
        max-height: var(--header-height);
    }
}
