.container {
    text-align: center;
    color: var(--black);
    background-color: var(--white);
    padding: var(--spacer-l) 0;

    &.black {
        color: var(--white);
        background-color: var(--black);
    }

    .box {
        color: var(--black);
        max-width: var(--max-width);
        margin: 0 auto;
    }
}
