@font-face {
    font-family: 'Montserrat-Regular';
    font-weight: 700;
    font-style: normal;
    font-path: '@qrt/assets/fonts/montserrat/Montserrat-Regular';
}

@font-face {
    font-family: 'Montserrat-Bold';
    font-weight: 700;
    font-style: normal;
    font-path: '@qrt/assets/fonts/montserrat/Montserrat-Bold';
}

@font-face {
    font-family: 'Montserrat-Thin';
    font-weight: normal;
    font-style: normal;
    font-path: '@qrt/assets/fonts/montserrat/Montserrat-Thin';
}

:root {
    --montserrat-regular: 'Montserrat-Regular', sans-serif;
    --montserrat-bold: 'Montserrat-Bold', sans-serif;
    --montserrat-thin: 'Montserrat-Thin', sans-serif;
}
