.grid {
    --gap: 3rem;
    --columns: 3;
    --item-size: calc(calc(100% / var(--columns)) - var(--gap));

    width:100%;
    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(auto-fit, 300px);

    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    justify-content: center;
    justify-items: center;


  }

.grid > * {

}
/* .grid {
    --gap: 1rem;
    --columns: 3;
    --item-size: calc(calc(100% / var(--columns)) - var(--gap));
    margin-right: calc(var(--gap) * -1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    > * {
        width: 100%;
        max-width: var(--item-size);
        margin-right: var(--gap);
        margin-bottom: var(--gap);
        flex-grow: 1;
    }
} */
