.media {
    display: flex;
    flex-direction: column;
    align-items: center;

    .anchor {
        display: flex;
        flex-grow: 1;

        .image {
            border-radius: 0.5rem;
            max-height: 15rem;
        }
    }
}
