.media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .anchor {
        display: flex;
        flex-grow: 1;

        .image {
            border-radius: 0.5rem;
            width: 100%;
            height: auto;
            max-height: 20rem;

            flex-grow: 1;
            display: flex;
        }
    }
}
