.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;

    > * {
        padding-right: 1rem;
    }

    a :hover {
        border-bottom: 0.2rem solid var(--black);
    }
}

