.menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > .item {
        margin: 0 1rem;

        &:last-child {
            margin-left: 2rem;
        }
    }

    .anchor {
        border-bottom: 0.2rem solid transparent;

        &:hover {
            border-bottom: 0.2rem solid var(--black);
        }
    }
}

