.comments {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0.5em;
    width: 10em;
    border-radius: 1.2em;
    max-height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

.addComment {
    color: var(--black);
    background-color: transparent;
    border:none;
    border-bottom: 0.1em solid var(--grey);
    height: 5rem;
    padding: 0.7rem 1.4rem;
    outline: 0;

    &::placeholder {
        color: var(--grey);
    }
}
