:root {
    --black: #000;
    --grey: #b7b7b7;
    --white: #fff;
    --blue: #3b76ba;
    --green: #6dd400;
    --orange: #f65411;

    --success: var(--green);
    --error: var(--red);
    --main-color: var(--black);
    --modal-background: var(--black-opacity-medium);
    --transparent: transparent;
    --free: var(--green-medium);
    --free-hover: var(--green-dark);
    --busy: var(--grey-medium);
    --busy-hover: var(--grey-medium-dark);
}
