.containerBox {
    text-align: center;
    color: var(--black);
    background-color: var(--white);
    padding: var(--spacer-m) 0;

    &.black {
        color: var(--white);
        background-color: var(--black);
    }
}
