.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 500px;

    .main {
        background-color: var(--grey-light);
        margin-top: var(--header-height);
    }

    &.blur {
        > *:not(:last-child) {
            filter: blur(0.5rem);
        }
    }
}
